    .subscribe{
        background-color: rgb(221, 12, 12);
        border: 0;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: top;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        transition: opacity 0.15s;
        margin-left: 10px;
    }
    .join{
        background-color: white;
        color: rgb(90, 117, 241);
        border: 2px solid rgb(90, 117, 241);
        width: 80px;
        margin-left: 10px;
        height: 36px;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color 1s;
         transition: color 1s;
 }
    .tweet{
         background-color: rgb(2,158,255);
         color: white;
         text-decoration: solid;
         height: 36px;
         width: 74px;
         border-radius:70px;
         border: none;
         font-weight: bold;
         font-size: 15px;
         margin-left: 10px;
         cursor: pointer;
         transition: box-shadow 0.15s;
        }
    .tweet:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }
    .Uber{
        background-color: black;
        color: white;
        border: none;
        width: 100px;
        height: 36px;
        margin-left: 10px;
        cursor: pointer;
    }
    .Amazon{
        margin-left: 10px;
        font-weight: bold;
        width: 170px;
        height: 36px;
        cursor: pointer;
        border: none;
        border-radius: 50px;
        background-color: rgb(255, 216, 20);
    }
    .github{
         background-color: rgb(46,164,79);
         height: 36px;
         width: 100px;
         font-weight: bold;
         border: none;
         border-radius: 3px;
         color: white;
         margin-top: 10px;
    }
    .boot{
        background-color: rgb(121,82,179);
        height: 36px;
        width: 105px;
        border: none;
        color: white;
        border-radius: 5px;
        margin-left: 10px;
    }
    .strap{
        height: 36px;
        width: 109px;
        background-color: white;
        border: 2px solid rgb(108,117,125);
        color: rgb(108,117,125);
        border-radius: 4px;
        margin-left: 10px;
    }
    .subscribe:hover{
        /* background-color: yellow; */
        opacity: 0.10;
    }
    .subscribe:active{
        background-color: green;
    }
    .join:hover{
        background-color:  rgb(90, 117, 241);
        color: white;
    }
    .join:active{
        opacity: 0.5;
    }
    .back{
        margin-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 16px;
    }
    .search{
        margin-left: 4px;
        margin-right: 4px;
        font-size: 18px;
    }
    .next{
        margin-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 16px;
    }